# markdown basics
## markdown basics
### markdown basics
#### markdown basics
#### markdown basics
##### markdown basics

*  **point1** (bold)
*  *point2*(itallic)
*  ***point3***(bold and itallic)

*  normal text 
  * sublist 1
  * sublist 2
  
 >1. point1
 >2. point2
 
  - []option 1
  Google site --Google-[1]http://www.google.com
  msn site --[2]http://www.msn.com
  *Adding links to markdown***
  
  []option1
  
  *Googlesite --[Google][1]
  [1]:https://www.msn.com
  
  
  ###python basics

In [1]:
print("hello,gitam")

hello,gitam

In [2]:
print("Hello,Gitam")
print("Hyderabad")

Hello,Gitam
Hyderabad

In [3]:
print("hello,Gitam","|||",end=" ")
print("Hyderabad",end="|||")
print("Pythonprogramming")

hello,Gitam ||| Hyderabad|||Pythonprogramming

In [4]:
n1=100
a = b = c =20
a1,b1,c1 =111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

Data type conversions 
 .int 
 .char
 .float

In [7]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [1]:
s1 = "100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [2]:
# A number is given 1234 -
# digit count
a1 = 1234
print(len(str(a1)))

4

 Reading a value
. input("message") --string

In [1]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namejyothsna
jyothsna
<class 'str'>

In [3]:
n1=int(input("enter a number"))
print(n1,type(n1))

enter a number1234
1234 <class 'int'>

operators
.operator is a symbol used to perform a specific type of tasks
arthematic operators
+
-
*
/
%
//
**

In [4]:
n1=1234
print(n1+10

SyntaxError: unexpected EOF while parsing (<ipython-input-4-006338358262>, line 2)

In [5]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### precedence of the arth operators
- parenthesis
- power
- division
- multiplication
- addition
left to right

In [6]:
x= 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [7]:
x= 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### relational operations
- ==
- !=
- greater(>)
- lessthan(<)
- lessthan or equals to(<=)
- greater than or equals to(>=)

In [8]:
x=10
a1= x>15
print(a1)

False

### logical operators
 used to combine more than single condition
  
  * and
  * or
  * not

In [9]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

### conditional statements
 - conditional statments
 - looping statments
### if-else statement
 **syntax**
 if boolean condition
    statements
 else:
    statements

In [10]:
# to check the given number is even or odd
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number13
odd

In [12]:
# to check the given number is perfectly multiple of 3 and 5
n=int(input("enter a number"))
if n%3==0and n%5==0:
    print("yes")
else:
    print("no")

enter a number10
no

In [15]:
# test given number is positive,negative or zero
n= int(input("enter a number"))
if n==0:
    print("zero")
elif n>0:
    print("positive number")
elif n<0:
    print("negative number")

enter a number-14
negative number